---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"base",
		"syntax-highlighting",
        "bootstrap"
;

.logo {
    font-family: 'Rubik', sans-serif;
     line-height: 90%;
}

.first {
    font-weight: bold;
    font-size: 4em;
    margin-right: 5px; 
    color: #666666;
	text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 3px 3px 5px #333;
	text-align: right;
	align: right;
}

.second {
     font-weight: bold;
    font-size: 4em;
    margin-right: 5px; 
    color: #333333;
    	text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 3px 3px 5px #333;
    	text-align: right;
    	align: right;
}
.third {
    font-weight: bold;
    font-size: 2em;
    margin-right: 5px; 
    color: #435f77;
    text-align: right;
    align: right;
}