---
layout : default
---
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8334480069584119";
/* Banner_top */
google_ad_slot = "4121742613";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<div class="page-header">
  <h1>{{ page.title }} {{# page.tagline }} <small>{{ . }}</small>{{/ page.tagline }}</h1>
</div>

<div class="row">
  <div class="span10">
    {{{ content }}}
    <hr>
    <div class="pagination">
      <ul>
        <ul>
          {{# page?previous }}
            <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
          {{/ page?previous }}
          {{^ page?previous }}
            <li class="prev disabled"><a>&larr; Previous</a></li>
          {{/ page?previous }}

            <li><a href="/archive">Archive</a></li>

          {{# page?next }}
            <li class="next"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
          {{/ page?next }}
          {{^ page?next }}
            <li class="next disabled"><a>Next &rarr;</a>
          {{/ page?next }}
        </ul>
      </ul>
    </div>
    <hr>
  </div>
  
  <div class="span2">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date }}</span></div>
    <br>
    <h4>Categories</h4>
    <ul class="tag_box">
    {{# page.categories?to_categories }}
      {{> categories_list }}
    {{/ page.categories?to_categories }}
    </ul>
    <br>
    <h4>Tags</h4>
    <ul class="tag_box">
    {{# page.tags?to_tags }}
      {{> tags_list }}
    {{/ page.tags?to_tags }}
    </ul>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8334480069584119";
/* Default Side Add */
google_ad_slot = "6233944284";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>
</div>
