<header class="site-header">
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-narrow">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
          <li><a class="page-link" href="/about/">About</a></li>
          <li><a class="page-link" href="/publications/">Publications</a></li>
          <li><a class="page-link" href="/projects/">Projects</a></li>
          <li><a class="page-link" href="/animations/">Animations</a></li>
          <li><a class="page-link" href="/archive/">Archive</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li> <a href="{{ "/posts/rss.xml" | prepend: site.baseurl }}" rel="me"><i class="icon-rss-squared"></i></a> </li>
        <li> <a href="https://github.com/hmazhar" rel="me"><i class="icon-github-squared"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/hammadmazhar/" rel="me"><i class="icon-linkedout-squared"></i></a></li>
        <li> <a href="https://plus.google.com/117672433856025584680?rel=author" rel="me"> <i class="icon-plus-squared"></i></a></li>
        <li> <a href="https://vimeo.com/hammadmazhar/videos/appears/" rel="me"> <i class="icon-video-squared"></i></a></li>
      </ul>
      </div>
    </div>
</nav>



</header>
