---
layout : default
---

<div class="page-header">
<img src="/assets/media/images/title.png" alt="title">
<a href="https://github.com/hmazhar" rel="me"><i class="fa fa-github fa-5x"></i></a>
<a href="https://www.linkedin.com/in/hammadmazhar/" rel="me"><i class="fa fa-linkedin fa-5x"></i></a>
<a href="//plus.google.com/117672433856025584680?rel=author" rel="me" <i class="fa fa-google-plus fa-5x"></i></a>
</div>

<div class="row-fluid">
  <div class="span12">
    {{{ page.content }}}
  </div>
</div>
