<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - by {{ data.author.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{# stylesheets.load }}
      bootstrap.min.css
      style.css
      google_prettify/sons-of-obsidian.css
    {{/ stylesheets.load }}
   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
 <script type="text/javascript"
  src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
 </script>
  </head>

  <body>

   <nav class="navbar navbar-default" role="navigation">
    <div class="container-narrow">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{urls.base_path}}">{{ data.title }}</a>
          <ul class="nav navbar-nav">
            {{# data.navigation?to__root }}
              {{> pages_list }}
            {{/ data.navigation?to__root }}
          </ul>
        </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li href="http://hamelot.co.uk/posts/rss.xml" rel="me"><i class="fa fa-rss-square fa-3x"></i></li>&nbsp&nbsp
      <li href="https://github.com/hmazhar" rel="me"><i class="fa fa-github fa-3x"></i></li>&nbsp&nbsp
      <li href="https://www.linkedin.com/in/hammadmazhar/" rel="me"><i class="fa fa-linkedin fa-3x"></i></li>&nbsp&nbsp
      <li href="https://plus.google.com/117672433856025584680?rel=author" rel="me" <i class="fa fa-google-plus fa-3x"></i></li>&nbsp&nbsp
      <li href="https://vimeo.com/hammadmazhar/videos/appears/" rel="me" <i class="fa fa-vimeo-square fa-3x"></i></li>
    </ul>
</div>
</nav>


    <div class="container-narrow">

      <div class="content">
        {{{ content }}}
      </div>

      <hr>
      <div class="footer">
	<div class="row">
<div class="span8"> 
        <p>&copy; {{ data.author.name }} 2013
          with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
</div>
<div class="span4">
<a href="http://hamelot.co.uk/posts/rss.xml" rel="me"><i class="fa fa-rss-square fa-3x"></i></a>&nbsp&nbsp
<a href="https://github.com/hmazhar" rel="me"><i class="fa fa-github fa-3x"></i></a>&nbsp&nbsp
<a href="https://www.linkedin.com/in/hammadmazhar/" rel="me"><i class="fa fa-linkedin fa-3x"></i></a>&nbsp&nbsp
<a href="https://plus.google.com/117672433856025584680?rel=author" rel="me" <i class="fa fa-google-plus fa-3x"></i></a>&nbsp&nbsp
<a href="https://vimeo.com/hammadmazhar/videos/appears/" rel="me" <i class="fa fa-vimeo-square fa-3x"></i></a>
</div>
</div> 
      </div>

    </div> <!-- /container -->

    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
    
  </body>
</html>
