.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:18px;text-decoration:none;background-color: white;border:1px solid #dddddd;border-left-width:0;color: rgb(114, 114, 114);}

